/* Main Header styles ... */

body {
     transition: background-color 0.3s ease-in;
}

header {
     padding: 20px 0;
     font-size: 0.85em;
     color: var(--text-color);
     display: flex;
     justify-content: space-between;
     align-items: center;
}

header a {
     color: inherit;
     text-decoration: none;
}

header .header-nav {
}

header .header-nav .nav-list {
     display: flex;
     column-gap: 25px;
}

header .header-nav .nav-list li {
     list-style: none;
}

header .header-nav .nav-list li.active {
}

header .extras {
     display: flex;
     column-gap: 10px;
     align-items: center;
}

header .extras button {
     transition: all 0.3s ease-in;
     cursor: pointer;
     background-color: transparent;
     background-image: url(../assets/icons/moon-stars.svg);
     background-size: cover;
     margin: 0 20px;
     border: none;
     width: 16px;
     aspect-ratio: 1/1;
}

/* Theme modes funcionality ... */

body.dark {
     background-color: rgb(22, 22, 22);
     --text-color: rgb(228, 228, 228);
     color: var(--text-color);
}

body.dark .color-mode {
     fill: white;
     background-image: url(../assets/icons/sun-fill.svg);
}

/* Main content styles ...*/
body.dark main h1 {
     filter: brightness(1.5);
}


main {
     
     color: var(--text-color);
}

main h1 {
     filter: brightness(0.1);
     letter-spacing: 2em;
     letter-spacing: 0.2em;
     font-size: 2em;
}

main .first-section {
     margin: 100px 0 10px;
     display: flex;
     justify-content: space-between;
}

main .first-section .text-content {
     display: flex;
     flex-direction: column;
     row-gap: 25px;
     width: 470px;
}

main .first-section .text-content .profile * {
     margin: 5px 0;
}

main .first-section .text-content .description {
     word-spacing: 0.3em;
     letter-spacing: 1px;
}

main .first-section .image-content img {
     width: 200px;
     border-radius: 20px;
}

/*Second Section */
main .second-section {
     margin: 150px 0 50px;
}

main .second-section .text-content {
     display: flex;
     flex-direction: column;
     row-gap: 20px;
     line-height: 1.5em;
     margin: 80px 0 40px;
}
main .second-section .habilidades {
     display: flex;
     align-items: center;
}

@keyframes rotate {
     from {
          rotate: -5deg;
     }
     to {
          rotate: 5deg;
     }
}

@keyframes iconMove {
     0% {
          translate: 5px 10px;
     }
     33% {
          translate: -5px 0px;
     }
     66% {
          translate: 0px -10px;
     }
     100% {
          translate: 7px 0px;
     }
}

@keyframes move {
     50% {
          translate: 0 20px;
     }
}

main .second-section .habilidades .icons-wrapper {
     animation: 8s linear 0s infinite alternate rotate,
     10s linear 0s infinite alternate move;
     position: relative;
     width: 380px;
     height: 290px;
}

main .second-section .habilidades .icons-wrapper img {
     width: 40px;
}


main .second-section .habilidades .icons-wrapper > * {
     animation: 5s linear var(--delay) infinite alternate iconMove;
     position: absolute;
}

main .second-section .habilidades .icons-wrapper > *:nth-child(1) {
     top: 100px;
     left: 20px;
     --delay: 1s;
}
main .second-section .habilidades .icons-wrapper > *:nth-child(2) {
     top: 100px;
     left: 320px;
     --delay: 0.5s;
}
main .second-section .habilidades .icons-wrapper > *:nth-child(3) {
     top: 80px;
     left: 220px;
     --delay: 2s;
}
main .second-section .habilidades .icons-wrapper > *:nth-child(4) {
     top: 170px;
     left: 170px;
     --delay: 2.8s;
}
main .second-section .habilidades .icons-wrapper > *:nth-child(5) {
     top: 200px;
     left: 10px;
     --delay: 5s;
}
main .second-section .habilidades .icons-wrapper > *:nth-child(6) {
     top: 80px;
     left: 100px;
     --delay: 3.4s;
}
main .second-section .habilidades .icons-wrapper > *:nth-child(7) {
     top: 20px;
     left: 290px;
     --delay: 0.1s;
}
main .second-section .habilidades .icons-wrapper > *:nth-child(8) {
     top: 20px;
     left: 150px;
     --delay: 4s;
}
main .second-section .habilidades .icons-wrapper > *:nth-child(9) {
     top: 200px;
     left: 310px;
     --delay: 6s;
}

main .second-section .habilidades .icons-wrapper > *:nth-child(10) {
     top: 10px;
     left: 10px;
     --delay: 7s;
}

main .second-section .habilidades .gif-wrapper img {
     width: 360px;
     border-radius: 10px;
     translate: 30px;
}

main .third-section {
     display: flex;
          flex-direction: column;
          row-gap: 50px;
     margin: 50px 0;
     border: 1px soid white;
}

main .third-section header {
     padding: 10px;
}

main .third-section header a {
     font-size: 1.1em;
     padding: 8px 15px;
     border-radius: 99999px;
     border: 1px solid white;
}

main .third-section .projects-wrapper {
     display: grid;
     justify-content: center;
     grid-template-columns: 1fr 1fr;
}

main .third-section .projects-wrapper > * {
     height: 400px;
     width: 320px;
     margin: 0 auto;
     border: 1px solid white;
}


footer {
}

